<%-include("./partials/header",{active:title})%>
  <div >
  <section class="container first">
    <form action="/cadastro" method="POST">
        <div class="row form-group">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <span class="h3 mb-5 text-blue">Cadastro</span>
                </div>
                <div class="form-group mb-4 d-flex justify-content-center">
                    <input id="nome" class="form-control input-decoration col-md-8" type="text" name="nome" required="required" placeholder="Nome">
                </div>
                <div class="form-group mb-4 d-flex justify-content-center">
                    <input id="cnpjcpf" class="form-control input-decoration col-md-8" type="text" required="required" data-mask="000.000.000-00" name="cpf_cnpj"
                        placeholder="CPF/CNPJ">
                </div>
                <div class="form-group mb-4 d-flex justify-content-center">
                    <input id="senha" class="form-control input-decoration col-md-8" type="password" required="required" name="senha"
                        placeholder="Senha">
                </div>
                <div class="d-flex justify-content-end col-md-9">
                    <button for="submit">Enviar</button>
                </div>
                <div class="d-flex justify-content-end col-md-10">
                    <a class="justify-content-end" href="/login">Já é cadastrado? Clique aqui</a>
                </div>
            </div>
        </div>
        
    </form>
</section>
</div>
<%- include('./partials/footer') %>