body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #02c8a7ff
}
div {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}
section > img{
  padding-left: 15px;
  padding-top: 5px;
  width: 200px;
  height: 115px;
}
.teste{
  flex-wrap: wrap
}
a {
  color: black;
}
.perfilmargem{
  margin: 8px;
}
.card{
  margin: 10px;
}
.arredondar{
  border-radius: 20px;
}
.zero{
  padding: 0;
}
.caixa{
  border:  white solid;
}
.centro{
  margin-left: auto;
  margin-right: auto;
}
.header {
  width: auto;
  height: 120px;
  
}
.amarelo{
  background-color: #f9be02ff;
}
  

